/* 樱花特效样式 */
.canvas-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

// 阅读模式下隐藏背景
.read-mode .canvas-container {
    display: none;
}
// 首页背景渐变动画
@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}